{"swagger":"2.0","info":{"title":"CRONOS","description":"API for cronos platform","version":"v1"},"host":"devcronos.rocknblock.io","schemes":["https"],"basePath":"/api/v1","consumes":["application/json"],"produces":["application/json"],"securityDefinitions":{"Basic":{"type":"basic"}},"security":[{"Basic":[]}],"paths":{"/create_ido/":{"post":{"operationId":"create_ido_create","description":"View will be deprecated","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"owner":{"type":"string","default":false},"project_name":{"type":"string","default":false},"token_name":{"type":"string","default":false},"token_symbol":{"type":"string","default":false},"total_supply":{"type":"integer","default":false},"token_address":{"type":"string","default":false},"vesting":{"type":"boolean","default":false},"start_unlock_percent":{"type":"integer","default":false},"unlock_percent":{"type":"integer","default":false},"unlock_step_time":{"type":"integer","default":false},"start":{"type":"string","format":"date-time","default":false},"end":{"type":"string","format":"date-time","default":false},"price":{"type":"integer","default":false},"hard_cap":{"type":"integer","default":false},"soft_cap":{"type":"integer","default":false}}}}],"responses":{"201":{"description":"Success"},"503":{"description":"Error"}},"tags":["create_ido"]},"parameters":[]},"/get_ido_from_owner/{address}/":{"get":{"operationId":"get_ido_from_owner_read","description":"IDO detail","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/IDO"}}},"tags":["get_ido_from_owner"]},"parameters":[{"name":"address","in":"path","required":true,"type":"string"}]},"/get_ido_list/{public}/{status}/":{"get":{"operationId":"get_ido_list_read","description":"List all ido","parameters":[],"responses":{"200":{"description":""}},"tags":["get_ido_list"]},"parameters":[{"name":"public","in":"path","required":true,"type":"string"},{"name":"status","in":"path","required":true,"type":"string"}]},"/get_proof/":{"post":{"operationId":"get_proof_create","description":"Calculate and return proof","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"address":{"type":"string","default":false},"ido_id":{"type":"integer","default":false}}}}],"responses":{"200":{"description":"Success"},"503":{"description":"Error"}},"tags":["get_proof"]},"parameters":[]},"/get_top_investors/":{"get":{"operationId":"get_top_investors_list","description":"","parameters":[{"name":"page","in":"query","description":"A page number within the paginated result set.","required":false,"type":"integer"}],"responses":{"200":{"description":"","schema":{"required":["count","results"],"type":"object","properties":{"count":{"type":"integer"},"next":{"type":"string","format":"uri","x-nullable":true},"previous":{"type":"string","format":"uri","x-nullable":true},"results":{"type":"array","items":{"$ref":"#/definitions/Investor"}}}}}},"tags":["get_top_investors"]},"parameters":[]},"/get_user_idos/{address}/":{"get":{"operationId":"get_user_idos_read","description":"IDO detail","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/IDO"}}},"tags":["get_user_idos"]},"parameters":[{"name":"address","in":"path","required":true,"type":"string"}]},"/ido/{id}/":{"get":{"operationId":"ido_read","description":"IDO detail","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/IDO"}}},"tags":["ido"]},"parameters":[{"name":"id","in":"path","required":true,"type":"string"}]},"/registration/":{"post":{"operationId":"registration_create","description":"Investor registration to IDO","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"address":{"type":"string","default":false}}}}],"responses":{"200":{"description":"Success"},"503":{"description":"Error"}},"tags":["registration"]},"parameters":[]},"/registration_to_ido/":{"post":{"operationId":"registration_to_ido_create","description":"Investor registration to IDO","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"pk":{"type":"integer","default":false},"address":{"type":"string","default":false}}}}],"responses":{"200":{"description":"Success"},"503":{"description":"Error"}},"tags":["registration_to_ido"]},"parameters":[]}},"definitions":{"IDO":{"required":["project_name","token_name","token_symbol","total_supply","token_address","start","end","price","soft_cap","hard_cap"],"type":"object","properties":{"id":{"title":"Id","type":"integer","readOnly":true},"project_name":{"title":"Project name","type":"string","maxLength":64,"minLength":1},"token_name":{"title":"Token name","type":"string","maxLength":64,"minLength":1},"token_symbol":{"title":"Token symbol","type":"string","maxLength":4,"minLength":1},"total_supply":{"title":"Total supply","type":"integer"},"token_address":{"title":"Token address","type":"string","maxLength":64,"minLength":1},"public":{"title":"Public","type":"boolean"},"vesting":{"title":"Vesting","type":"boolean"},"startUnlockPercent":{"title":"Startunlockpercent","type":"integer"},"unlockPercent":{"title":"Unlockpercent","type":"integer"},"unlockStepTime":{"title":"Unlocksteptime","type":"integer"},"start":{"title":"Start","type":"string","format":"date-time"},"end":{"title":"End","type":"string","format":"date-time"},"price":{"title":"Price","type":"integer"},"status":{"title":"Status","type":"string","readOnly":true},"soft_cap":{"title":"Soft cap","type":"integer"},"hard_cap":{"title":"Hard cap","type":"integer"},"investor":{"title":"Investor","type":"string","readOnly":true},"owner":{"title":"Owner","type":"integer","readOnly":true},"owner_address":{"title":"Owner address","type":"string","readOnly":true}}},"Investor":{"required":["address","stake_amount"],"type":"object","properties":{"address":{"title":"Address","type":"string","maxLength":64,"minLength":1},"stake_amount":{"title":"Stake amount","type":"integer"}}}}}