{"swagger":"2.0","info":{"title":"CRONOS","description":"\nAPI for cronos platform\nCronos testnet: https://cronos-testnet-3.crypto.org:8545\n","version":"v1"},"host":"devcronos.rocknblock.io","schemes":["https"],"basePath":"/api/v1","consumes":["application/json"],"produces":["application/json"],"securityDefinitions":{"Basic":{"type":"basic"}},"security":[{"Basic":[]}],"paths":{"/ido/":{"get":{"operationId":"ido_list","description":"","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Ido"}}}},"tags":["ido"]},"parameters":[]},"/ido/{id}/":{"get":{"operationId":"ido_read","description":"","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Ido"}}},"tags":["ido"]},"parameters":[{"name":"id","in":"path","description":"A unique integer value identifying this Ido.","required":true,"type":"integer"}]},"/investor/allocation/":{"get":{"operationId":"investor_allocation_list","description":"","parameters":[],"responses":{"200":{"description":"string"}},"tags":["investor"]},"parameters":[]},"/investor/proof/":{"post":{"operationId":"investor_proof_create","description":"","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"address":{"type":"string","default":false},"ido_id":{"type":"integer","default":false}}}}],"responses":{"200":{"description":"Success"},"400":{"description":"Error"}},"tags":["investor"]},"parameters":[]},"/investor/top/":{"get":{"operationId":"investor_top_list","description":"","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Investor"}}}},"tags":["investor"]},"parameters":[]},"/register/":{"post":{"operationId":"register_create","description":"","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"pk":{"type":"integer","default":false},"address":{"type":"string","default":false}}}}],"responses":{"200":{"description":"Success"},"503":{"description":"Error"}},"tags":["register"]},"parameters":[]}},"definitions":{"Tokenomic":{"required":["title","percent","color"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"title":{"title":"Title","type":"string","maxLength":64,"minLength":1},"percent":{"title":"Percent","type":"integer","maximum":100,"minimum":1},"color":{"title":"Color","type":"string","enum":["#5E99F5","#2864FF","#24F9B9","#1A9AAB","#D660FF","#6E86AD","#0A3B87","#C71780","#5E1EC6","#97D647"]}}},"Team":{"required":["name","position"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":64,"minLength":1},"position":{"title":"Position","type":"string","maxLength":128,"minLength":1},"photo":{"title":"Photo","type":"string","readOnly":true,"format":"uri"},"description":{"title":"Description","type":"string","minLength":1}}},"Partner":{"required":["urlPath"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"urlPath":{"title":"Url path","type":"string","maxLength":256,"minLength":1},"icon":{"title":"Icon","type":"string","readOnly":true,"format":"uri"}}},"Ido":{"required":["type","videoUrl","projectName","tokenName","tokenSymbol","totalSupply","tokenAddress","start","end","softCap","hardCap","totalBought","discord","medium","telegram","twitter","projectSummary","roadmap","price","idoIncrement"],"type":"object","properties":{"id":{"title":"Id","type":"integer","readOnly":true},"type":{"title":"Type","type":"string","minLength":1},"status":{"title":"Status","type":"string","readOnly":true},"videoUrl":{"title":"Video url","type":"string","maxLength":256,"minLength":1},"logoUrl":{"title":"Logo url","type":"string","readOnly":true},"projectName":{"title":"Project name","type":"string","maxLength":64,"minLength":1},"tokenName":{"title":"Token name","type":"string","maxLength":64,"minLength":1},"tokenSymbol":{"title":"Token symbol","type":"string","maxLength":4,"minLength":1},"totalSupply":{"title":"Total supply","type":"string","format":"decimal"},"tokenAddress":{"title":"Token address","type":"string","maxLength":64,"minLength":1},"vesting":{"title":"Vesting","type":"boolean"},"startUnlockPercent":{"title":"Startunlockpercent","type":"integer"},"unlockPercent":{"title":"Unlockpercent","type":"integer"},"unlockStepTime":{"title":"Unlocksteptime","type":"integer"},"start":{"title":"Start","type":"string"},"end":{"title":"End","type":"string"},"softCap":{"title":"Soft cap","type":"string","format":"decimal"},"hardCap":{"title":"Hard cap","type":"string","format":"decimal"},"totalBought":{"title":"Total bought","type":"string","format":"decimal"},"investor":{"title":"Investor","type":"string","readOnly":true},"owner":{"title":"Owner","type":"integer","readOnly":true},"ownerAddress":{"title":"Owner address","type":"string","readOnly":true},"discord":{"title":"Discord","type":"string","maxLength":256,"minLength":1},"medium":{"title":"Medium","type":"string","maxLength":256,"minLength":1},"telegram":{"title":"Telegram","type":"string","maxLength":256,"minLength":1},"twitter":{"title":"Twitter","type":"string","maxLength":256,"minLength":1},"tokenomics":{"type":"array","items":{"$ref":"#/definitions/Tokenomic"},"readOnly":true},"team":{"type":"array","items":{"$ref":"#/definitions/Team"},"readOnly":true},"partners":{"type":"array","items":{"$ref":"#/definitions/Partner"},"readOnly":true},"projectSummary":{"title":"Project summary","type":"string","minLength":1},"roadmap":{"title":"Roadmap","type":"string","minLength":1},"tokenLogoUrl":{"title":"Token logo url","type":"string","readOnly":true},"targetedRaise":{"title":"Targeted raise","type":"string","readOnly":true},"price":{"title":"Price","type":"number"},"timer":{"title":"Timer","type":"string","readOnly":true},"decimals":{"title":"Decimals","type":"integer","default":18},"investors":{"title":"Investors","type":"string","readOnly":true},"idoIncrement":{"title":"Ido increment","type":"integer"},"lotteryParams":{"title":"Lottery params","type":"string","readOnly":true}}},"Investor":{"required":["address","stakeAmount","positionDelta","lastStaked"],"type":"object","properties":{"address":{"title":"Address","type":"string","maxLength":64,"minLength":1},"stakeAmount":{"title":"Stake amount","type":"string","format":"decimal"},"positionDelta":{"title":"Position delta","type":"integer"},"lastStaked":{"title":"Last staked","type":"string"},"level":{"title":"Level","type":"string","readOnly":true}}}}}