@import '/src/styles/variables';
@import '/src/styles/mixins';

:global(.modal-mask) {
  z-index: 100;
  overflow: hidden;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  height: 100%;

  background-color: $bgModalMask;
}

:global(.modal-wrap) {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  @include flex(row, center, center);
  width: 100%;
  padding: 50px 0;
  overflow: auto;
  outline: 0;
}

:global(.modal-body) {
  width: 30vw;
}

.modal_wrapper {
  position: relative;
  border-radius: 16px;
  background: $bgMain;
  box-shadow: $shadowModal;
}
